html{
  box-sizing: border-box;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
a{
  display: inline-block;
  text-decoration: none;
}
ul,
li{
  margin: 0;
  padding: 0;
  list-style: none;
}
body{
  color: $black;
  font-family: 'Poppins', sans-serif;
}
.wrapper-head{
  background-image: url(../images/bg-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 1130px;
  margin: 0 auto;
}
.container{
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}